/* --Основа-- */
html, body { font-family: "Ubuntu", Arial, sans-serif; background: #fff; font-size: 100%; color: #333; width: 100%; height: 100%; }
dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, form, body, html, blockquote { margin: 0; padding: 0; }
img { border: 0; vertical-align: top; }
/* --Основа-- */

/* --Ссылки-- */
a { color: inherit; text-decoration: none; }
a:active {  }
a:hover { text-decoration: none; }
a:focus { outline: none; }
/* --Ссылки-- */

/* --Кнопки-- */
button, input { background-color: transparent; border: none; width: 100%; }
/* --Кнопки-- */

/* --Инпуты-- */
input, textarea, select, button { font-size: 13px; color: #000; font-family: inherit; }
input:focus, textarea:focus, select:focus { outline: none; }
/* --Инпуты-- */

/* --Список-- */
ul { margin: 0; padding: 0; list-style: none; }
li { margin: 0; padding-left: 0; list-style: none; }
/* --Список-- */

/*Addons*/
@-moz-document url-prefix() {}
.zoomImg { width: 100%; -webkit-transform: scale(1,1); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1,1); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; }
.zoomImg:hover { -webkit-transform: scale(1.05,1.07); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1.05,1.07); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; }
/*Addons*/



