<div class="wrapper-unit-15 pdg-l-r-5 clear-fix">
  <div class="search-wrap width-less float-l clear-fix">
    <input class="search-input" value="" type="text" placeholder="Поиск принятого груза ...">
    <ul class="icon-box-r">
      <li class="float-l">
        <span class="icon-base">
          <span class="icon-1check primary-icon"></span>
          <span class="wrap-icon">
            <span class="icon-1plus_in_c secondary-icon"></span>
          </span>
        </span>
      </li>
      <li class="float-l">
        <span class="icon-base">
          <span class="icon-1pr_doc primary-icon"></span>
          <span class="wrap-icon">
            <span class="icon-1plus_in_c secondary-icon"></span>
          </span>
        </span>
      </li>
      <li class="float-l">
        <span class="icon-base">
          <span class="icon-1check primary-icon"></span>
          <span class="wrap-icon">
            <span class="icon-1plus_in_c secondary-icon"></span>
          </span>
        </span>
      </li>
    </ul>
  </div>
  <div class="btn-create-wr float-l">
    <div class="btn-create">
      <div class="btn-cr-label">Create</div>
      <div class="btn-cr-icon">
        <div class="icon">
          <span class="icon-1plus primary-icon"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-unit pdg-l-r-5 filter clear-fix">
  <div class="wrap-alphabet width-less">
    <div class="alphabet-letters">all</div>
    <div class="alphabet-letters">a-c</div>
    <div class="alphabet-letters">d-g</div>
    <div class="alphabet-letters">h-i</div>
    <div class="alphabet-letters">j-k</div>
    <div class="alphabet-letters">l</div>
    <div class="alphabet-letters">m-p</div>
    <div class="alphabet-letters">q</div>
    <div class="alphabet-letters">r</div>
    <div class="alphabet-letters">t-z</div>
  </div>
  <div class="pdg-l-10 grid-5">
    <div class="wrap-pagination clear-fix">
      <div class="pagination-off float-l">
        <div class="icon-base no-border float-l">
          <div class="icon-1arl primary-icon"></div>
        </div>
        <div class="pagination-off-num float-l">4</div>
      </div>
						<span class="pagination-caption">
							of
						</span>
      <div class="pagination-on float-l">
        <div class="icon-base no-border float-r">
          <div class="icon-1arr primary-icon"></div>
        </div>
        <span class="pagination-on-num float-r">10</span>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-unit-5-15 clear-fix">
  <div class="grid-3">
    <div class="card-box">
      <div class="row clear-fix">
        <div class="img-unit icon-1menu_human"><img src=""
                                                    alt=""/>
        </div>
        <div class="data-name float-l">
          <div class="data-name-f">Ярослава</div>
          <div class="data-name-l">Бондаренко</div>
        </div>
      </div>
      <div class="row">
        <div class="label-card">Card number</div>
        <div class="data-card">1243 8572 8327 8320</div>
      </div>
      <div class="row">
        <div class="label-card">Mobile</div>
        <div class="data-card">
          <span class="num-pref">+38(093)</span>
          <span>823-45-43</span>
        </div>
      </div>
      <div class="row">
        <div class="label-card">Home phone</div>
        <div class="data-card">
          <span class="num-pref">+38(093)</span>
          <span>823-45-43</span>
        </div>
      </div>
    </div>
  </div>
</div>