<div class="wrapper-unit-15 clear-fix">
  <div class="card-dstn-implex grid-3">
    <div class="card-dstn-inner txt-l clear-fix">
      <span class="icon-base">
        <span class="icon-1primary_user primary-icon"></span>
      </span>
      <span class="card-dstn-title">Последнее используемое получателем</span>
      <div class="card-dstn-city">
        <span class="clr-4">Минск,</span>
        <span class="clr-1">1214766</span>
      </div>
      <div class="card-dstn-info clr-4 float-l">
        <p>ул. Гринченка 2/1, оф. 123</p>
        <p>+380921239101</p>
      </div>
    </div>
  </div>
  <div class="card-dstn-implex grid-3">
    <div class="card-dstn-inner txt-l clear-fix">
      <span class="icon-base">
        <span class="icon-1primary_user primary-icon"></span>
      </span>
      <span class="card-dstn-title">Последнее используемое получателем</span>
      <div class="card-dstn-city">
        <span class="clr-4">Минск,</span>
        <span class="clr-1">1214766</span>
      </div>
      <div class="card-dstn-info clr-4 float-l">
        <p>ул. Гринченка 2/1, оф. 123</p>
        <p>+380921239101</p>
      </div>
    </div>
  </div>
  <div class="card-dstn-implex grid-3">
    <div class="card-dstn-inner txt-l clear-fix">
      <span class="icon-base">
        <span class="icon-1primary_user primary-icon"></span>
      </span>
      <span class="card-dstn-title">Последнее используемое получателем</span>
      <div class="card-dstn-city">
        <span class="clr-4">Минск,</span>
        <span class="clr-1">1214766</span>
      </div>
      <div class="card-dstn-info clr-4 float-l">
        <p>ул. Гринченка 2/1, оф. 123</p>
        <p>+380921239101</p>
      </div>
    </div>
  </div>
</div>