<ul class="wrapper-unit mrn-b-5-dell clear-fix">
  <li class="btn-icon grid-3"
      ng-click="addCommand(baseUrl.operator.waybill.sender.state)">
    <a class="inner-btn">
      <span class="icon">
        <span class="icon-1menu_product primary-icon"></span>
        <span class="wrap-icon">
          <span class="icon-1plus_in_c secondary-icon"></span>
        </span>
      </span>
      <span class="b-m-elem-name">
        Новая
        <br>
        накладная
      </span>
    </a>
  </li>
  <li class="btn-icon grid-3"
      ng-click="addCommand(baseUrl.operator.cargo.destination.state)">
    <a class="inner-btn">
      <span class="icon">
        <span class="icon-1table primary-icon"></span>
        <span class="wrap-icon">
          <span class="icon-1plus_in_c secondary-icon"></span>
        </span>
      </span>
      <span class="b-m-elem-name">
        Принять
        <br>
        груз
      </span>
    </a>
  </li>
  <li class="btn-icon grid-3">
    <a class="inner-btn">
      <span class="icon">
        <span class="icon-1menu_human primary-icon"></span>
        <span class="wrap-icon">
          <span class="icon-1plus_in_c secondary-icon"></span>
        </span>
      </span>
      <span class="b-m-elem-name">
        Посылки на
        <br>
        отделения
      </span>
    </a>
  </li>
  <li class="btn-icon grid-3">
    <a class="inner-btn">
    </a>
  </li>
  <li class="btn-icon grid-3">
    <a class="inner-btn">
    </a>
  </li>
  <li class="btn-icon grid-3">
    <a class="inner-btn">
    </a>
  </li>
</ul>

<div class="wrapper-unit pdg-l-r-5">
  <div class="search-wrap">
    <input class="search-input" value="" type="text" placeholder="Поиск принятого груза ...">
    <ul class="icon-box-r">
      <li class="float-l">
        <span class="icon-base">
          <span class="icon-1check primary-icon"></span>
          <span class="wrap-icon">
            <span class="icon-1plus_in_c secondary-icon"></span>
          </span>
        </span>
      </li>
      <li class="float-l">
        <span class="icon-base">
          <span class="icon-1pr_doc primary-icon"></span>
          <span class="wrap-icon">
            <span class="icon-1plus_in_c secondary-icon"></span>
          </span>
        </span>
      </li>
      <li class="float-l">
        <span class="icon-base">
          <span class="icon-1check primary-icon"></span>
          <span class="wrap-icon">
            <span class="icon-1plus_in_c secondary-icon"></span>
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>

<ul class="wrapper-unit clear-fix">
  <li class="btn-implex grid-3">
    <a class="btn-inner btn-clr-4">
      Отчеты
    </a>
  </li>
  <li class="btn-implex grid-3">
    <a class="btn-inner btn-clr-4">
      Завершение доставки
    </a>
  </li>
  <li class="btn-implex grid-3">
    <a class="btn-inner btn-clr-4">
      Окончание опер дня
    </a>
  </li>
  <li class="btn-implex grid-3">
    <a class="btn-inner btn-clr-4">
      Клиенты
    </a>
  </li>
  <li class="btn-implex grid-3">
    <a class="btn-inner btn-clr-4">
      Lorem ipsum
    </a>
  </li>
  <li class="btn-implex grid-3">
    <a class="btn-inner btn-clr-4">
      Lorem ipsum
    </a>
  </li>
</ul>