<!DOCTYPE html>
<html>
	<head>
		<title>Logistics5</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" type="text/css"/>
		<link rel="stylesheet" href="css/styles.css" type="text/css"/>
		<link rel="stylesheet" href="css/styles.sass" type="text/css"/>
		<link rel="stylesheet" href="css/font.css" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&amp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
		<script src="/js/libs/jquery/jquery.js"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	</head>
	<body>
	<div class="left-side-bar">
		<div class="nav-title">Накладная №:</div>
		<div class="num-transaction">08376488-987</div>

		<ul class="nav">
			<li class="el-menu">
				<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_human primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
						<span class="descript-menu">
							<span class="label-menu">Отправитель</span>
							<span class="title-menu">Кириченко Алексей</span>
						</span>
				</a>
			</li>
			<li class="el-menu active-nav">
				<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_human primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
						<span class="descript-menu">
							<span class="title-menu">Получатель</span>
						</span>
				</a>
			</li>
			<li class="el-menu small-menu">
				<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_product primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
				</a>
			</li>
			<li class="el-menu small-menu">
				<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_product primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
				</a>
			</li>
		</ul>
	</div>

	<header class="main-header">
		<ul class="header-nav float-l">
			<li>
				<a href="menu.html">
						<span class="icon-base none-border">
							<span class="icon-1home_1 primary-icon"></span>
						</span>
				</a>
			</li>
			<li>
				<a href="#">
						<span class="icon-base">
							<span class="icon-1check primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
				</a>
			</li>
			<li>
				<a href="#">
						<span class="icon-base">
							<span class="icon-1all_checks primary-icon"></span>
						</span>
				</a>
			</li>
			<li>
				<a href="#">
						<span class="icon-base">
							<span class="icon-1reverse_link primary-icon"></span>
						</span>
				</a>
			</li>
		</ul>
		<ul class="header-nav float-r">
			<li class="none-border">
				<a href="#">
						<span class="icon-base none-border">
							<span class="icon-1cloud_1 diff-color primary-icon"></span>
						</span>
				</a>
			</li>
			<li>
				<a href="#">
						<span class="icon-base">
							<span class="icon-1menu_settings primary-icon"></span>
						</span>
				</a>
			</li>
			<li>
				<a href="#">
						<span class="user-data">
							<img src="img/userFoto.png" alt="Accaunt Foto" class="user-ava"/>
							<span class="user-name">Ярослава Бондаренко</span>
						</span>
				</a>
			</li>
			<li>
				<a href="/">
						<span class="icon-base">
							<span class="icon-1logout primary-icon"></span>
						</span>
				</a>
			</li>
		</ul>
	</header>

		<section class="main-content">
			<div class="wrapper-unit-15 pdg-l-r-5 clear-fix">
				<div class="search-wrap width-less float-l  clear-fix">
					<input class="search-input" value type="text" placeholder="Поиск принятого груза ..." />
					<ul class="icon-box-r">
						<li class="float-l">
							<span class="icon-base">
								<span class="icon-1check primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c secondary-icon"></span>
								</span>
							</span>
						</li>
						<li class="float-l">
							<span class="icon-base">
								<span class="icon-1pr_doc primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c secondary-icon"></span>
								</span>
							</span>
						</li>
						<li class="float-l">
							<span class="icon-base">
								<span class="icon-1check primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c secondary-icon"></span>
								</span>
							</span>
						</li>
					</ul>
				</div>
				<div class="btn-create-wr  float-l">
					<div class="btn-create">
						<div class="btn-cr-label">Create</div>
						<div class="btn-cr-icon">
							<div class="icon">
								<span class="icon-1plus primary-icon"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper-unit-15 pdg-l-r-5 clear-fix">
				<div class="wrap-alphabet width-less">
					<div class="alphabet-letters">all</div>
					<div class="alphabet-letters">a-c</div>
					<div class="alphabet-letters">d-g</div>
					<div class="alphabet-letters">h-i</div>
					<div class="alphabet-letters">j-k</div>
					<div class="alphabet-letters">l</div>
					<div class="alphabet-letters">m-p</div>
					<div class="alphabet-letters">q</div>
					<div class="alphabet-letters">r</div>
					<div class="alphabet-letters">t-z</div>
				</div>
				<div class="pdg-l-10 grid-5">
					<div class="wrap-pagination clear-fix">
						<div class="pagination-off float-l">
							<div class="icon-base no-border float-l">
								<div class="icon-1arl primary-icon"></div>
							</div>
							<div class="pagination-off-num float-l">4</div>
						</div>
						<span class="pagination-caption">
							of
						</span>
						<div class="pagination-on float-l">
							<div class="icon-base no-border float-r">
								<div class="icon-1arr primary-icon"></div>
							</div>
							<span class="pagination-on-num float-r">10</span>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper-unit">
				<div class="grid-3">
					<div class="card-box">
						<div class="row clear-fix">
							<div class="img-unit icon-1menu_human"><img src=""
																												alt=""/>
							</div>
							<div class="data-name float-l">
								<div class="data-name-f">Ярослава</div>
								<div class="data-name-l">Бондаренко</div>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Card number</div>
							<div class="data-card">1243 8572 8327 8320</div>
						</div>
						<div class="row">
							<div class="label-card">Mobile</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Home phone</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-3">
					<div class="card-box">
						<div class="row clear-fix">
							<div class="img-unit icon-1menu_human"><img src=""
																												alt=""/>
							</div>
							<div class="data-name float-l">
								<div class="data-name-f">Ярослава</div>
								<div class="data-name-l">Бондаренко</div>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Card number</div>
							<div class="data-card">1243 8572 8327 8320</div>
						</div>
						<div class="row">
							<div class="label-card">Mobile</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Home phone</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-3">
					<div class="card-box">
						<div class="row clear-fix">
							<div class="img-unit icon-1menu_human"><img src=""
																												alt=""/>
							</div>
							<div class="data-name float-l">
								<div class="data-name-f">Ярослава</div>
								<div class="data-name-l">Бондаренко</div>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Card number</div>
							<div class="data-card">1243 8572 8327 8320</div>
						</div>
						<div class="row">
							<div class="label-card">Mobile</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Home phone</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-3">
					<div class="card-box">
						<div class="row clear-fix">
							<div class="img-unit icon-1menu_human"><img src=""
																												alt=""/>
							</div>
							<div class="data-name float-l">
								<div class="data-name-f">Ярослава</div>
								<div class="data-name-l">Бондаренко</div>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Card number</div>
							<div class="data-card">1243 8572 8327 8320</div>
						</div>
						<div class="row">
							<div class="label-card">Mobile</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Home phone</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-3">
					<div class="card-box">
						<div class="row clear-fix">
							<div class="img-unit icon-1menu_human"><img src=""
																												alt=""/>
							</div>
							<div class="data-name float-l">
								<div class="data-name-f">Ярослава</div>
								<div class="data-name-l">Бондаренко</div>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Card number</div>
							<div class="data-card">1243 8572 8327 8320</div>
						</div>
						<div class="row">
							<div class="label-card">Mobile</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Home phone</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-3">
					<div class="card-box">
						<div class="row clear-fix">
							<div class="img-unit icon-1menu_human"><img src=""
																												alt=""/>
							</div>
							<div class="data-name float-l">
								<div class="data-name-f">Ярослава</div>
								<div class="data-name-l">Бондаренко</div>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Card number</div>
							<div class="data-card">1243 8572 8327 8320</div>
						</div>
						<div class="row">
							<div class="label-card">Mobile</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
						<div class="row">
							<div class="label-card">Home phone</div>
							<div class="data-card">
								<span class="num-pref">+38(093)</span>
								<span>823-45-43</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script src="/js/libs/jquery/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="/js/libs/jquery.mCustomScrollbar.min.js"></script>
		<script src="/js/knplink.js"></script>
	</body>
</html>