<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" type="text/css"/>
    <link rel="stylesheet" href="css/styles.sass" type="text/css"/>
    <link rel="stylesheet" href="css/font.css" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&amp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <script src="/js/libs/jquery/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
</head>
    <body>
        <div class="outer-layout">
            <div class="login-title">Log In</div>
            <form id="login-form" class="form-horizontal" action="/login" method="post">
                <div class="row">
                    <input type="text" class="input-st" name="" placeholder="Login">
                </div>
                <div class="row">
                    <input type="text" name="" class="input-st"  placeholder="Password">
                </div>
                <div class="form-group login-bt">
                    <button type="submit" class="button-st dark-bt" name="login-button">Go</button>
                </div>
            </form>
        </div>
    </body>
</html>
