<!DOCTYPE html>
<html>
	<head>
		<title>Cash management</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" type="text/css"/>
		<link rel="stylesheet" href="css/styles.css" type="text/css"/>
		<link rel="stylesheet" href="css/styles.sass" type="text/css"/>
		<link rel="stylesheet" href="css/font.css" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&amp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
		<script src="/js/libs/jquery/jquery.js"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	</head>
	<body>
		<div class="left-side-bar">
			<div class="nav-title">Transaction #:</div>
			<div class="num-transaction">08376488-987</div>

			<ul class="nav">
				<li class="el-menu">
					<a href="#" class="nav-link">
							<span class="icon">
								<span class="icon-1menu_human primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c secondary-icon"></span>
								</span>
							</span>
							<span class="descript-menu">
								<span class="label-menu">Customer</span>
								<span class="title-menu">Victor Victorenko</span>
							</span>
					</a>
				</li>
				<li class="el-menu active-nav">
					<a href="#" class="nav-link">
							<span class="icon">
								<span class="icon-1table primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c secondary-icon"></span>
								</span>
							</span>
							<span class="descript-menu">
								<span class="title-menu">Add Table</span>
							</span>
					</a>
				</li>
				<li class="el-menu">
					<a href="#" class="nav-link">
							<span class="icon">
								<span class="icon-1menu_product primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c secondary-icon"></span>
								</span>
							</span>
							<span class="descript-menu">
								<span class="title-menu">Add Product</span>
							</span>
					</a>
				</li>
			</ul>
			<div class="fields-name clear-fix">
				<span class="name-f">Name</span>
				<span class="name-f">Q</span>
				<span class="name-f">Price</span>
			</div>
			<div class="clear-fix checklist scrollbar mCustomScrollbar " id="smooth">
				<div class="field hidden-field txt-l">
					<span class="name txt-l"></span>
					<span class="quantity txt-c"></span>
					<span class="price txt-c"></span>
				</div>
				<div class="field">
					<span class="name float-l">LLorem ipsum</span>
					<span class="quantity float-l">25</span>
					<span class="price float-l">125.00$</span>
				</div>
				<div class="field">
					<span class="name float-l">Dolor sit amet</span>
					<span class="quantity float-l">3</span>
					<span class="price float-l">45$</span>
				</div>
				<div class="field">
					<span class="name float-l">Consectetuer</span>
					<span class="quantity float-l">7</span>
					<span class="price float-l">1.00$</span>
				</div>
				<div class="field">
					<span class="name float-l">Lorem ipsum</span>
					<span class="quantity float-l">25</span>
					<span class="price float-l">125.00$</span>
				</div>
				<div class="field">
					<span class="name float-l">Dolor sit amet</span>
					<span class="quantity float-l">3</span>
					<span class="price float-l">45$</span>
				</div>
				<div class="field">
					<span class="name float-l">Consectetuer</span>
					<span class="quantity float-l">7</span>
					<span class="price float-l">1.00$</span>
				</div>
				<div class="field">
					<span class="name float-l">Dolor sit amet</span>
					<span class="quantity float-l">3</span>
					<span class="price float-l">45$</span>
				</div>
			</div>
			<div class="checklist-total">
				<span class="checklist-total-title">Total:</span>
				<span id="checklist-total-price">170.00 $</span>
			</div>
			<div class="grid-2 btn-implex transaction-save">
				<a href="" class="btn-inner btn-clr-1">Save order</a>
			</div>
			<div class="grid-2 btn-implex transaction-discount">
				<a href="" class="btn-inner btn-clr-1">Discount</a>
			</div>
			<div class="grid-1 btn-implex transaction-pay">
				<a href="" class="btn-inner btn-clr-4">Pay</a>
			</div>
		</div>

		<header class="main-header">
			<ul class="header-nav float-l">
				<li>
					<a href="menu.html">
							<span class="icon-base">
								<span class="icon-1home_1 primary-icon"></span>
							</span>
					</a>
				</li>
				<li>
					<a href="#">
							<span class="icon-base">
								<span class="icon-1check primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c secondary-icon"></span>
								</span>
							</span>
					</a>
				</li>
				<li>
					<a href="#">
							<span class="icon-base">
								<span class="icon-1all_checks primary-icon"></span>
							</span>
					</a>
				</li>
				<li>
					<a href="#">
							<span class="icon-base">
								<span class="icon-1reverse_link primary-icon"></span>
							</span>
					</a>
				</li>
			</ul>
			<ul class="header-nav float-r">
				<li class="none-border">
					<a href="#">
							<span class="icon-base none-border">
								<span class="icon-1cloud_1 diff-color primary-icon"></span>
							</span>
					</a>
				</li>
				<li>
					<a href="#">
							<span class="icon-base">
								<span class="icon-1menu_settings primary-icon"></span>
							</span>
					</a>
				</li>
				<li>
					<a href="#">
							<span class="user-data">
								<img class="user-ava"
										 src="img/userFoto.png"
										 alt="Accaunt Foto"/>
								<span class="user-name">Ярослава Бондаренко</span>
							</span>
					</a>
				</li>
				<li>
					<a href="/">
							<span class="icon-base">
								<span class="icon-1logout primary-icon"></span>
							</span>
					</a>
				</li>
			</ul>
		</header>

		<section class="main-content cash">
			<div class="title-cash pdg-l-r-5">
				Cash management
			</div>
			<div class="available-caption grid-2 pdg-l-5">Available in cash</div>
			<div class="available-caption grid-2 pdg-l-5">Amount</div>
			<div class="grid-2 pdg-l-r-5">
				<div class="outlet-unit">
					<div class="table grid-1">
						<div class="icon">
							<div class="icon-1outlet4 primary-icon"></div>
						</div>
						<div class="outlet">
							<div class="outlet-caption">Outlet</div>
							<div>Cannabis Metro +</div>
						</div>
						<div class="date">
							<div>12:07 PM</div>
							<div>12/12/12</div>
						</div>
					</div>

					<div class="checklist scrollbar mCustomScrollbar clear-fix" id="smooth">
						<div class="field hidden-field">
							<span class="name"></span>
							<span class="quantity"></span>
							<span class="price"></span>
						</div>
						<div class="field">
							<span class="name">Lorem ipsum Lorem ipsum price</span>
							<span class="price">125.00$</span>
						</div>
						<div class="field">
							<span class="name">Dolor sit amet</span>
							<span class="price">45$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
						<div class="field">
							<span class="name">Consectetuer</span>
							<span class="price">1.00$</span>
						</div>
					</div>
					<div class="cash-total">
						<div class="cash-total-caption">Total available cash:</div>
						<div class="cash-total-num">51.00 $</div>
					</div>
				</div>
				<div class="clear-fix">
					<div class="btn-implex grid-2 pdg-r-2 pdg-l-0">
						<div class="btn-inner btn-clr-8 clr-2"
								 id="modal-cash">Close Day</div>
					</div>
					<div class="btn-implex grid-2 pdg-r-0 pdg-l-2">
						<div class="btn-inner  btn-clr-4 clr-2">Done</div>
					</div>
				</div>
			</div>
			<div class="grid-2 pdg-l-r-5 amount">
				<div class="base-input">
					<input class="in-st"
								 type="text"
								 name="middle_name"
								 placeholder="Please enter ..."
								 value="">
				</div>
				<div class="available-caption grid-1">Type</div>
				<div class="btn-implex grid-2 pdg-r-2 pdg-l-0">
					<div class="btn-inner btn-clr-1 clr-2">
						<div class="icon-1prm_us_thin primary-icon dsp-inline-block"></div>
						<div class="dsp-inline-block">Close Day</div>
					</div>
				</div>
				<div class="btn-implex grid-2 pdg-r-0 pdg-l-2">
					<div class="btn-inner btn-clr-1 clr-2">
						<div class="icon-1sec_us_thin primary-icon dsp-inline-block"></div>
						<div class="dsp-inline-block">Done</div>
					</div>
				</div>
			</div>
		</section>
		<div class="modal cash hidden">
			<div class="wrapper-modal">
				<div class="wrapper-modal-inner">
					<div class="cash-caption">
						Order
						<span class="num">
							#1247898727-3479
						</span>
						was paid
					</div>

					<div class="total-caption grid-1">
						Change:
						<span class="num">
							2.20$
						</span>
					</div>

					<div class="base-input wrapper-unit-15">
						<input class="in-st"
									 type="text"
									 name="middle_name"
									 placeholder="Enter sum of cash">
					</div>

					<div class="btn-implex grid-2 left pdg-r-1">
						<div class="btn-inner">Print receipt</div>
					</div>
					<div class="btn-implex grid-2 right pdg-l-1">
						<div class="btn-inner"
								 id="cash-ok">Ok</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/js/libs/jquery/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="/js/libs/jquery.mCustomScrollbar.min.js"></script>
		<script src="/js/knplink.js"></script>
	</body>
</html>