<!DOCTYPE html>
<html>
	<head>
		<title>Logistics Navigations</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" type="text/css"/>
		<link rel="stylesheet" href="css/styles.css" type="text/css"/>
		<link rel="stylesheet" href="css/styles.sass" type="text/css"/>
		<link rel="stylesheet" href="css/font.css" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&amp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
		<script src="/js/libs/jquery/jquery.js"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	</head>
	<body>
		<div class="left-side-bar">
			<div class="nav-title">Накладная №:</div>
			<div class="num-transaction">08376488-987</div>

			<ul class="nav">
				<li class="el-menu">
					<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_human primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
						<span class="descript-menu">
							<span class="label-menu">Customer</span>
							<span class="title-menu">Victor Victorenkokokoko</span>
						</span>
					</a>
				</li>
				<li class="el-menu active-nav">
					<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_human primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
						<span class="descript-menu">
							<span class="title-menu">Victor Victorenko</span>
						</span>
					</a>
				</li>
				<li class="el-menu">
					<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1table primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
						<span class="descript-menu">
							<span class="label-menu">Add Table</span>
						</span>
					</a>
				</li>

				<li class="el-menu small-menu">
					<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_product primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
					</a>
				</li>
				<li class="el-menu small-menu base-menu">
					<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_product primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
					</a>
				</li>
			</ul>
		</div>

		<header class="main-header">
			<ul class="header-nav float-l">
				<li>
					<a href="menu.html">
						<span class="icon-base none-border">
							<span class="icon-1home_1 primary-icon"></span>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon-base">
							<span class="icon-1check primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon-base">
							<span class="icon-1all_checks primary-icon"></span>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon-base">
							<span class="icon-1reverse_link primary-icon"></span>
						</span>
					</a>
				</li>
			</ul>
			<ul class="header-nav float-r">
				<li class="none-border">
					<a href="#">
						<span class="icon-base none-border">
							<span class="icon-1cloud_1 diff-color primary-icon"></span>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon-base">
							<span class="icon-1menu_settings primary-icon"></span>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="user-data">
							<img src="img/userFoto.png" alt="Accaunt Foto" class="user-ava"/>
							<span class="user-name">Ярослава Бондаренко</span>
						</span>
					</a>
				</li>
				<li>
					<a href="/">
						<span class="icon-base">
							<span class="icon-1logout primary-icon"></span>
						</span>
					</a>
				</li>
			</ul>
		</header>


		<script src="/js/libs/jquery/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="/js/select2.min.js"></script>
		<script src="/js/libs/jquery.mCustomScrollbar.min.js"></script>
		<script src="/js/knplink.js"></script>
	</body>
</html>