<!DOCTYPE html>
<html>
	<head>
		<title>Main</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/styles.css" type="text/css"/>
		<link rel="stylesheet" href="css/styles.sass" type="text/css"/>
		<link rel="stylesheet" href="css/font.css" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&amp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
		<script src="/js/libs/jquery/jquery.js"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	</head>
	<body>
		<div class="left-side-bar">
			<div class="nav-title base-nav-title">Start new transaction</div>

			<ul class="nav">
				<li class="el-menu small-menu base-menu">
					<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_human primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c"></span>
							</span>
						</span>
					</a>
				</li>
				<li class="el-menu small-menu base-menu">
					<a href="#" class="nav-link">
							<span class="icon">
								<span class="icon-1table primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c"></span>
								</span>
							</span>
					</a>
				</li>
				<li class="el-menu small-menu base-menu">
					<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_product primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c"></span>
							</span>
						</span>
					</a>
				</li>
				<li class="el-menu small-menu base-menu">
					<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_product primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c"></span>
							</span>
						</span>
					</a>
				</li>
				<li class="el-menu small-menu base-menu">
					<a href="#" class="nav-link">
						<span class="icon">
							<span class="icon-1menu_product primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c"></span>
							</span>
						</span>
					</a>
				</li>
			</ul>
		</div>

		<header class="main-header">
			<ul class="header-nav float-l">
				<li>
					<a href="menu.html">
						<span class="icon-base">
							<span class="icon-1home_1 primary-icon"></span>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon-base">
							<span class="icon-1check primary-icon"></span>
							<span class="wrap-icon">
								<span class="icon-1plus_in_c secondary-icon"></span>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon-base">
							<span class="icon-1all_checks primary-icon"></span>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon-base">
							<span class="icon-1reverse_link primary-icon"></span>
						</span>
					</a>
				</li>
			</ul>
			<ul class="header-nav float-r">
				<li class="none-border">
					<a href="#">
						<span class="icon-base none-border">
							<span class="icon-1cloud_1 diff-color primary-icon"></span>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon-base">
							<span class="icon-1menu_settings primary-icon"></span>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="user-data">
							<img class="user-ava"
									 src="img/userFoto.png"
									 alt="Accaunt Foto"/>
							<span class="user-name">Ярослава Бондаренко</span>
						</span>
					</a>
				</li>
				<li>
					<a href="/">
						<span class="icon-base">
							<span class="icon-1logout primary-icon"></span>
						</span>
					</a>
				</li>
			</ul>
		</header>

		<section class="main-content">
			<ul class="wrapper-unit mrn-b-5-dell clear-fix">
				<li class="btn-icon grid-3">
					<a href="#" class="inner-btn">
						<span class="icon"><span class="icon-1menu_product primary-icon"></span><span class="wrap-icon"><span class="icon-1plus_in_c secondaryIcon"></span></span></span>
						<span class="b-m-elem-name">New check</span>
					</a>
				</li>
				<li class="btn-icon grid-3">
					<a href="#" class="inner-btn">
						<span class="icon"><span class="icon-1table primary-icon"></span><span class="wrap-icon"><span class="icon-1plus_in_c secondaryIcon"></span></span></span>
						<span class="b-m-elem-name">All Checks</span>
					</a>
				</li>
				<li class="btn-icon grid-3">
					<a href="menu-add-customer.html" class="inner-btn">
						<span class="icon"><span class="icon-1menu_human primary-icon"></span><span class="wrap-icon"><span class="icon-1plus_in_c secondaryIcon"></span></span></span>
						<span class="b-m-elem-name">View Last Check</span>
					</a>
				</li>
				<li class="btn-icon grid-3">
					<a href="#" class="inner-btn">
						<span class="icon"><span class="icon-1menu_product primary-icon"></span><span class="wrap-icon"><span class="icon-1plus_in_c secondaryIcon"></span></span></span>
						<span class="b-m-elem-name">Saved Orders</span>
					</a>
				</li>
				<li class="btn-icon grid-3">
					<a href="#" class="inner-btn">
						<span class="icon"><span class="icon-1table primary-icon"></span><span class="wrap-icon"><span class="icon-1plus_in_c secondaryIcon"></span></span></span>
						<span class="b-m-elem-name">Reservations</span>
					</a>
				</li>
				<li class="btn-icon grid-3">
					<a href="menu-add-customer.html" class="inner-btn">
						<span class="icon"><span class="icon-1menu_human primary-icon"></span><span class="wrap-icon"><span class="icon-1plus_in_c secondaryIcon"></span></span></span>
						<span class="b-m-elem-name">New Customer</span>
					</a>
				</li>
			</ul>

			<div class="wrapper-unit pdg-l-r-5">
				<div class="search-wrap">
					<input class="search-input" value type="text" placeholder="Поиск принятого груза ..." />
					<ul class="icon-box-r">
						<li class="float-l">
							<span class="icon-base">
								<span class="icon-1check primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c secondary-icon"></span>
								</span>
							</span>
						</li>
						<li class="float-l">
							<span class="icon-base">
								<span class="icon-1pr_doc primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c secondary-icon"></span>
								</span>
							</span>
						</li>
						<li class="float-l">
							<span class="icon-base">
								<span class="icon-1check primary-icon"></span>
								<span class="wrap-icon">
									<span class="icon-1plus_in_c secondary-icon"></span>
								</span>
							</span>
						</li>
					</ul>
				</div>
			</div>

			<ul class="wrapper-unit clear-fix">
				<li class="btn-implex grid-3"><a href="#" class="btn-inner btn-clr-4">Cash management</a></li>
				<li class="btn-implex grid-3"><a href="#" class="btn-inner btn-clr-4">Reports</a></li>
				<li class="btn-implex grid-3"><a href="#" class="btn-inner btn-clr-4">Completed orders</a></li>
				<li class="btn-implex grid-3"><a href="#" class="btn-inner btn-clr-4">Close day</a></li>
				<li class="btn-implex grid-3"><a href="#" class="btn-inner btn-clr-4">Lorem ipsum</a></li>
				<li class="btn-implex grid-3"><a href="#" class="btn-inner btn-clr-4">Customers</a></li>
			</ul>
		</section>

		<script src="/js/libs/jquery/jquery-ui-1.10.4.custom.min.js"></script>
		<script src="/js/CustomScrollbar.min.js"></script>
		<script src="/js/knplink.js"></script>
	</body>
</html>